{% load static %} 
{% static "" as baseUrl %}

<div class="card col s12 m6 l3 ">
    <div class="card-image waves-effect waves-block waves-light ">
        <img class="card-img season" src="{{baseUrl}}imgs/{{image}}" alt="{{name}}" />    </div>

    <div class="card-content ">
        <span class="card-title activator grey-text text-darken-4 "><span
                        class="card-title "></span><i class="material-icons right ">more_vert</i></span>
        <p><a href="# ">{{year}} - Temporada de {{name}}</a></p>
    </div>
    <div class="card-reveal ">
        <span class="card-title grey-text text-darken-4 "><span
                        class="card-title "></span><i class="material-icons right ">close</i></span>
        <p></p><br>
        <i></i>
        <a class="waves-effect waves-light btn-small blue" href="{% url 'editar_season' 1%}"><i class="material-icons right">edit</i></a>
        <button class="waves-effect waves-light btn-small red " onclick="excluir()"><i class="material-icons right">delete</i></
        </div>
    </div>
</div>