{% load static %} {% static '/animes/imgs/anime_default_img.jpg' as image_static %}
<div class="card col s12 m6 l3 ">
    <div class="card-image waves-effect waves-block waves-light ">
        <img class="card-img " src=" {% if image %} {{ image }} {% else %} {{ image_static }} {% endif %} " alt="{{ name }}" onerror="this.onerror=null; this.src='{{ image_static }}'" />
    </div>
    <div class="card-content ">
        <span class="card-title activator grey-text text-darken-4 "><span class="card-title "></span><i class="material-icons right ">more_vert</i></span>
        <p>
            <a href="# ">{{ name }}</a>
        </p>
    </div>
    <div class="card-reveal ">
        <span class="card-title grey-text text-darken-4 "><span class="card-title "></span><i class="material-icons right ">close</i></span>
        <p>{{anime.description}}</p><br>
        <i>Quantidade de capítulos:{{anime.total_episodes}}</i><br>
        <a class="waves-effect waves-light btn-small blue" href="{% url 'editar_anime' id %}"><i class="material-icons right">edit</i></a>
        <a class="waves-effect waves-light btn-small red" onclick="excluir({{id}},'{{name}}')"><i class=" material-icons right ">delete</i></a>
    </div>
</div>