<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBCine</title>
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="nav-extended light-blue darken-2">
            <div class="nav-wrapper ">
                <ul id="nav-mobile" class="right">
                    <li><a href="">Animes</a></li>
                    <li><a href="">Mangas</a></li>
            </div>
            <div class="nav-header center ">
                <h1>Projeto Animangá</h1>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent  blue-grey darken-4">
                    <li class="tab "><a href="index.html">Home</a></li>
                    <li class="tab "><a href="mostrarAnimes.html">Animes</a></li>
                    <li class="tab"><a href="mostrarMangas.html">Mangás</a></li>
                </ul>
            </div>
        </nav>
    </header>
    </section class="filmes">
    <br><br>
    <div class="center-align">
        <a href="cadastrarAnime.html" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Clique aqui para Cadastrar Animes novos</a>
    </div>
    <br><br>
    <div class="row ">
        <div class="card col s12 m6 l3 ">
            <div class="card-image waves-effect waves-block waves-light ">
                <img class="card-img " src="/images/item01.jpg " alt="Venom capa " />
            </div>
            <div class="card-content ">
                <span class="card-title activator grey-text text-darken-4 "><span
                            class="card-title "></span><i class="material-icons right ">more_vert</i></span>
                <p><a href="# ">This is a link</a></p>
            </div>
            <div class="card-reveal ">
                <span class="card-title grey-text text-darken-4 "><span
                            class="card-title "></span><i class="material-icons right ">close</i></span>
                <p></p><br>
                <i></i>
                <a class="waves-effect waves-light btn-small blue" href="alterarAnimes.html"><i class="material-icons right">edit</i></a>
                <button class="waves-effect waves-light btn-small red " onclick="excluir()"><i class="material-icons right">delete</i></
            </div>
        </div>
    </div>
    </main>

</body>
<script>
    // Código para exclusão do item ao clicar no button de deletar.
    function excluir() {
        if (confirm("Deseja remover o anime '' do Catálogo ? ")) {
            $.ajax({
                url: "models/delete.php?id=<?=$ filme[ 'id'] ?>",
                type: "GET",
                success: function() {
                    location.reload();
                }
            });
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var
            instances = M.FormSelect.init(elems, options);
    }); // Or with jQuery $(document).ready(function() { $('select').formSelect(); });
</script>

</html>