{% extends 'base/header.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
    <main>
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">Alterar Temporada</span>
                        <div class="row">
                            <form class="col s12" method="POST">
                                {% csrf_token %}
                                {{ new_season_form|crispy }}
                                <button class="btn-large send-button waves-effect waves-light light-blue darken-2"
                                        value="enviar"
                                        type="submit"
                                        name="enviar">
                                    Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--script para botão Limpar campos-->
    <script>
            const limparForm = () => {
                const input = document.getElementsByTagName("input");

                for (prop of input) {
                    prop.value = "";
                }
            }
            const changeDateYear = (year) => {        
                
                function dateFormater(date, separator) {
                    let day = date.getDate();
                    let month = date.getMonth() + 1;
                    let year = date.getFullYear();
                    day = (day < 10) ? '0' + day : day
                    month = (month < 10) ? '0' + month : month
                    return year + separator + month + separator + day;
                }

                const start = document.getElementsByName('start_at')[0];
                const end = document.getElementsByName('end_at')[0];
                const date_start = dateFormater(new Date(start.value),"-");
                const date_end = dateFormater(new Date(end.value),"-");
                console.log(date_start.replace(/\d\d\d\d/g, year))
                start.value = date_start.replace(/\d\d\d\d/g, year);
                end.value = date_end.replace(/\d\d\d\d/g, year);
                start.setAttribute('min',`${year}-01-01`);
                start.setAttribute('max', `${year}-12-31`);
                end.setAttribute('min',`${year}-01-01`);
                end.setAttribute('max', `${year}-12-31`);
            }
            window.onload = () => {
                let year = document.getElementsByName('season_year')[0].value;
                changeDateYear(year);
            };

    </script>
</main>
{% endblock %}
