{% extends 'base/header.html' %} {% load static %} {% block main %}
<br><br>
<div class="center-align">
    <a href="{% url 'cadastrar_anime'%}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Clique aqui para Cadastrar Animes novos</a>
</div>
<br>
<div class="center-align">
    <a href="{% url 'download_anime'%}" class="waves-effect waves-light btn"><i class="material-icons left">download</i>Clique aqui para Exportar seus Animes cadastrados  para JSON</a>
</div>
<br><br>
<div class="row ">
    {% for anime in animes%} {% include "animes/includes/card-anime-item.html" with name=anime.title image=anime.official_thumbnail id=anime.id%} {% endfor%}

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var
            instances = M.FormSelect.init(elems, options);
    }); // Or with jQuery $(document).ready(function() { $('select').formSelect(); });
</script>
{% endblock %} {% block footer %} {% endblock %}