{% extends 'base/header.html' %} {% load static %} {% block main %}
<br><br>
<div class="center-align">
    <a href="{% url 'cadastrar_anime'%}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Clique aqui para Cadastrar Animes novos</a>
</div>
<br>
<div class="center-align">
    <a href="{% url 'download_anime'%}" class="waves-effect waves-light btn"><i class="material-icons left">download</i>Clique aqui para Exportar seus Animes cadastrados  para JSON</a>
</div>
<br><br>
<div class="row ">
    {% for anime in animes%} 
        {% if current_user.id == anime.user_id.id %}
            {% include "animes/includes/card-anime-item.html" with name=anime.title image=anime.official_thumbnail id=anime.id%}
        {% endif %}
    {% endfor%}

</div>
<script>
        function excluir(id, name = null) {
            if (confirm('Deseja remover este anime do catálogo?' + '\nEsta ação não poderá ser desfeita.')) {
                var url = "{% url 'delete_anime' 0%} ".replace('0', id)
                 $.ajax({
                     url: url,
                    type: "GET",
                    success: function() {
                        location.reload();
                    }
                });
            }
        }   
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var
                instances = M.FormSelect.init(elems, options);
        }); // Or with jQuery $(document).ready(function() { $('select').formSelect(); });
</script>
{% endblock %} {% block footer %} {% endblock %}