{% extends 'base/header.html' %}
{% load static %}
{% block main %}
    </section class="filmes">
    <br><br>
    <div class="center-align">
        <a href="{% url 'cadastrar_manga'%}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Clique aqui para Cadastrar mangas novos</a>
    </div>
    <br><br>
    <div class="row ">
        <div class="card col s12 m6 l3 ">
            <div class="card-image waves-effect waves-block waves-light ">
                <img class="card-img " src="{% static '/imgs/item01.jpg'%}" alt="Venom capa " />
            </div>                

            <div class="card-content ">
                <span class="card-title activator grey-text text-darken-4 "><span
                            class="card-title "></span><i class="material-icons right ">more_vert</i></span>
                <p><a href="# ">This is a link</a></p>
            </div>
            <div class="card-reveal ">
                <span class="card-title grey-text text-darken-4 "><span
                            class="card-title "></span><i class="material-icons right ">close</i></span>
                <p></p><br>
                <i></i>
                <a class="waves-effect waves-light btn-small blue" href="{% url 'editar_manga' 1%}"><i class="material-icons right">edit</i></a>
                <button class="waves-effect waves-light btn-small red " onclick="excluir()"><i class="material-icons right">delete</i></
            </div>
        </div>
    </div>
    </main>
<script>
    // Código para exclusão do item ao clicar no button de deletar.
    function excluir() {
        if (confirm("Deseja remover o manga X do Catálogo ? ")) {
            $.ajax({
                url: "{% url 'deletar_manga' 1%}",
                type: "GET",
                success: function() {
                    location.reload();
                }
            });
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var
            instances = M.FormSelect.init(elems, options);
    }); // Or with jQuery $(document).ready(function() { $('select').formSelect(); });
</script>
{% endblock %}

{% block footer %}
    
{% endblock %}