{% extends 'base/header.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
<main>
    <h3 class="center card-panel blue-grey darken-4 white-text">Desenvolvedores</h3>
    <div class="row">
        <div class="col s6 center">
            <div class="center promo promo-example">
                <div class="col s6 offset-s6 center-align">
                    <img class="responsive-img circle z-depth-5" width="120" src="https://avatars.githubusercontent.com/u/62726160?v=4" alt="">
                    <br>
                    <strong class="promo-caption">JANDERSON BARBOSA GONCALVES</strong>
                    <p class="light center"> RA : 2840481921048 </p>
                    <a href="https://github.com/janderson-code" target="_blank" class="waves-effect waves-light btn-floating btn-large social github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s6 center">
            <div class="center promo promo-example">
                <div class="col s6 center-align">
                    <img class="responsive-img circle z-depth-5" width="120" src="https://avatars.githubusercontent.com/u/60818326?v=4" alt="">
                    <br>
                    <strong class="promo-caption">LUCAS FERREIRA DA SILVA</strong>
                    <p class="light center"> RA : 2840481921013</p>
                    <a href="https://github.com/lucferreira-27" target="_blank" class="waves-effect waves-light btn-floating btn-large social github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}