{% extends 'base/header.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}" media="screen">
    <main>
        <div class="container">
            <div class="row center">
                <div class="col s12 m10 offset-m1">
                    <h1 class="header">Animangá</h1>
                </div>
                <div class="col s12 m8 offset-m2">
                    <h4 class="light">Estamos aqui para ajudar você a organizar seus Animes e Mangás!</h4>
                    <p>
                        Com o Animangá é possivel cadastrar qualquer anime/mangá que deseja utilizando da ajuda do grande banco de dados da 
                        <a href ="https://kitsu.io/explore/anime" target="_blank">Kitsu</a> e sua incrivel <a href ="https://kitsu.docs.apiary.io/" target="_blank">API.</a>
                    </p>
                    <p>
                        Ainda tem mais, você também pode cadastrar seus próprios animes e mangas, basta clicar em "Cadastrar Novo Anime/Manga" e preencher os campos.
                        Você também pode cadastrar Temporadas de animes.
                    </p>
                    <strong>
                        Projeto desenvolvido para disciplina de Topicos Especiais em Informatica da Faculdade de Tecnologia (FATEC-RP).
                    </strong>
                </div>
            </div>
            <div class="row center">
                <a href="https://github.com/janderson-code/Projeto-AniManga" target="_blank" class="waves-effect waves-light btn-floating btn-large social github">
                    <i class="fab fa-github"></i>
                </a>
                <p>Projeto-AniManga</p>
            </div>
        </div>
    </main>
{% endblock %}
